@tailwind base;
@tailwind components;
@tailwind utilities;

body { @apply bg-white text-midnight dark:bg-black dark:text-white; }

@font-face {
  font-family: 'Mokoto';
  src: local('Mokoto');
  font-display: swap;
}
@font-face {
  font-family: 'Bicubik';
  src: local('Bicubik');
  font-display: swap;
}
